<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :講義名 %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :URL %>
    <%= form.text_area :content, class: "test" %>
  </div>

  <div class="field">
    <%= form.label :履修曜日 %>
    <%= form.select :stu_week, [["日曜日", "0"], ["月曜日", "1"],["火曜日", "2"], ["水曜日", "3"], ["木曜日", "4"], ["金曜日", "5"], ["土曜日", "6"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= form.label :時間 %>
    <%= form.select :stu_time, [["N1", "1030"], ["N2", "1210"],["N3", "1440"], ["N4", "1620"], ["N5", "1800"], ["N6", "1940"], ["N7", "2120"]], include_blank: "選択して下さい" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
