<tr class="list-<%= list.id %>">
  <td><%= @DAT_OF_WEEK[list.stu_week.to_i] %></td>
  <td><%= @Time[list.stu_time]  %></td>
  <td style="padding: 0"><%= link_to list.subject, list.content, { :class => "text-decoration sub_link", :target => "_blank"}  %>
  </td>
  <td><%= link_to list  do%>
     <span>show</span><%= icon('far', 'eye', class: 'list_icon')   %>
     <% end %>
  </td>
  <td><%= link_to edit_list_path(list) do %>
     <span>edit</span><%= icon('fas', 'edit', class: 'list_icon')   %>
     <% end %>
  </td>
  <td><%= link_to list, method: :delete, remote: true, data: { confirm: '削除しますか？' } do %>
    <%= icon('fas', 'times',class: 'close_botton')   %>
    <% end %>
  </td>
</tr>