<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: @user.errors.count,
                 resource: @user.class.model_name.human.downcase)
       %>
    </h2>
   <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>今日のミーティング</h1>
<table class="table">
 <thead class="thead-light">
     <tr>
       <th>時間</th>
       <th>講義名</th>
     </tr>
 </thead>
 <tbody>
  <%= render 'today_lists', today_lists: @today_lists %>
 </tbody>
</table>

<h1>ミーティング一覧</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>履修曜日</th>
      <th>時間</th>
      <th>講義名</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'index', lists: @lists %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
  <span>追加</span><%= icon('fas', 'plus',class: 'list_icon')   %>
</button>

<!-- Modal -->
<%= render 'new_modal'%>