<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ZoomLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="nav-right">
            <ul class="nav-lists">
              <% if user_signed_in? %>
              <li class="nav-list"><%=Date.today.strftime '%Y年%-m月%-d日'%></li>
              <li class="nav-list user_edit_botton"><%= current_user.name %><span class="user_name">様</span><%= icon('fas', 'cog')  %></li>
              <li class="nav-list"><%= link_to "一覧", lists_path, class: "text-decoration" %></li>
              <li class="nav-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-decoration" %></li>
               <div class="user_edit_modal_wrapper">
                <div class="user_modal">
                 <div class="user_modal_content">
                   <%= form_with url: user_path(current_user.id),model: @user, local: true do |form| %>
                   <h2 class="user_edit_ttl">ユーザー編集</h2>
                    <div class="field">
                     <%= form.label :name, "ユーザー名" %>
                     <br>
                     <%= form.text_field :name %>
                    </div>
                    <div class="field">
                     <%= form.label :email, "メールアドレス" %>
                     <br>
                     <%= form.email_field :email %>
                    </div>
                    <div class="actions">
                      <%= form.submit "更新" %>
                    </div>
                   <% end %>
                   <%= icon('fas', 'times',class: 'close_botton')   %>
                 </div>
                </div>
               </div>
              <% else %>
              <li class="nav-list"><%= link_to "サインアップ",  new_user_registration_path, class: "text-decoration" %></li>
              <li class="nav-list"><%= link_to "ログイン",  new_user_session_path, class: "text-decoration" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header><!-- /header -->
    <div class="container">
      <% flash.each do |key, value| %>
      <div class="flash flash-<%=key%>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
